{% extends 'base.html.twig' %}


{% block body %}
        {% include 'shared/_navbar.html.twig' %}

        <section class="banner">
            <div class="container">
            <div class="row blok-section1">
                <div class="semd bg-white" style="border-radius: 17px;border: solid 1px;margin-top: -13.2em;" >
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-8">
                                    <div style="border-radius: 31px;
                                    padding: 6px 13px;
                                    background: white;
                                    position: absolute;
                                    opacity: 0.5;
                                    margin-left: 28px;
                                    margin-top: 33px;"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                                    <div style="margin-left: 15px;margin-top: 24px;">
                                        <img src="{{ asset('images/imga6.png') }}" alt="image reservation 1" style="width: 33.8em;
    height: 277px;
    border-radius: 14px;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="padding: 0px;
    border: none;
    margin-bottom: -11px;
    margin-left: 3.9em;
    margin-top: 24px;">
                                        <div class="card-body" style="padding: 0px;">
                                            <img src="{{ asset('images/c7.png') }}" alt="reservation 2" style="height: 5.1em;
    width: 11.8em;
    border-radius: 10px;">
                                        </div>
                                    </div>
                                    <div class="card" style="padding: 0px;
    border: none;
    margin-bottom: -11px;
    margin-left: 3.9em;
    margin-top: 24px;"> 
                                        <div class="card-body" style="padding: 0px;">
                                            <img src="{{ asset('images/c7.png') }}" alt="reservation 3" style="height: 5.1em;
    width: 11.8em;
    border-radius: 10px;">
                                        </div>
                                    </div>
                                    <div class="card" style="padding: 0px;
    border: none;
    margin-bottom: -11px;
    margin-left: 3.9em;
    margin-top: 24px;">
                                        <div class="card-body" style="padding: 0px;">
                                            <img src="{{ asset('images/c7.png') }}" alt=" reservation 4" style="height: 5.1em;
    width: 11.8em;
    border-radius: 10px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="margin-left: 29px;
                                margin-top: 14px;">
                                    <span style="font-family: sans-serif;
                                    font-size: 26px;
                                    font-weight: bold;">NovHôtel Royal Suites</span>
                                    <div class="d-flex" style="margin-top: 27px;">
                                        <div><img src="{{ asset('images/14.png') }}" alt="" width="60px" height="60px" style="    margin-right: 18px;
                                            border-radius: 6px;
                                            border: solid 2px;
                                            border-color: #9ab8d1;"></div>
                                        <div><img src="{{ asset('images/15.png') }}" alt="" width="60px" height="60px" style="    margin-right: 18px;
                                            border-radius: 6px;
                                            border: solid 2px;
                                            border-color: #9ab8d1;"></div>
                                        <div><img src="{{ asset('images/16.png') }}" alt="" width="60px" height="60px" style="    margin-right: 18px;
                                            border-radius: 6px;
                                            border: solid 2px;
                                            border-color: #9ab8d1;"></div>
                                    </div>
                                </div>
                                <div style="    margin-left: 159px;
                                margin-top: 21px;
                                font-weight: bold;">
                                    <i style="color: gold;" class="fa fa-star" aria-hidden="true"></i> 4.9
                                </div>
                                
                            </div>
                            <div class="row">
                                <div style="margin-left: 29px;margin-top: 19px;">
                                    <div>
                                    <p style="color:#9ab8d1 ;font-size: 15px; font-weight: bold;">Description</p>
                                    </div>
                                    <div classe="description">
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cupiditate non illum quidem molestiae, consequuntur eius explicabo autem magni ullam odio dolor temporibus ducimus, eos, tempore quibusdam. Eius, quo dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nostrum, maiores aspernatur iusto facere neque pariatur, vitae labore placeat, excepturi quas. Praesentium sint omnis illo nulla modi! Vel, possimus voluptatibus!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;
                                                    margin-top: 24px;
                                                    border-color: #a2e8fe;
                                                    border-style: solid;
                                                    margin-bottom: 24px;
                                                    border-radius: 11px;
                                                    margin-left: 25px;">
                                <div class="card-body">
                                  <p class="card-title"><span style="font-size: 22px;font-weight: bolder;">12 000 000 F<span> <small style="font-size: 22px;">/Semaine</small></p>
                                  <hr>
                                  <p class="card-text" style="color: #07528d; font-size:15px;font-weight: bold;">Detail de reservetion</p>
                                  <div>
                                    <small style="opacity: 0.5;">Date d'arrivée</small>
                                  </div>
                                  <div>
                                    <i class="fa fa-calendar-check" aria-hidden="true" style="color: gray;
                                    font-size: 11px;
                                    margin-left: 12px;
                                    opacity: 0.5;"></i> <span style="font-family: sans-serif; font-size: 12px;  margin-right: 4.4em; color:gray">12 Octobre 2021</span> <span style="color: #4f2185; text-decoration: underline; font-weight: bold;">Modifier</span>
                                  </div>
                                  <div style="margin-top: 15px;">
                                    <small style="opacity: 0.5;">Date de depart</small>
                                  </div>
                                  <div>
                                    <i class="fa fa-calendar-check" aria-hidden="true" style="color: gray;
                                    font-size: 11px;
                                    margin-left: 12px;
                                    opacity: 0.5;"></i> <span style="font-family: sans-serif; font-size: 12px;  margin-right:4.8em; color:gray"> 13 Octobre 2021</span> <span style="color: #4f2185; text-decoration: underline; font-weight: bold;">Modifier</span>
                                  </div>
                                  <div  style="margin-top: 15px;">
                                    <small style="opacity: 0.5;">Invité</small>
                                  </div>
                                  <div>
                                    <i class="fa fa-calendar-check" aria-hidden="true" style="color: gray;
                                    font-size: 11px;
                                    margin-left: 12px;
                                    opacity: 0.5;"></i> <span style="font-family: sans-serif; font-size: 12px;  margin-right: 8.9em; color:gray" >2 Adults</span> <span style="color: #4f2185; text-decoration: underline; font-weight: bold;">Modifier</span>
                                  </div>
                                  <p class="card-text" style="color: #07528d; font-size:15px;font-weight: bold; margin-top: 18px;margin-top: 15px;  margin-bottom:9px;">Récapitulatif</p>
                                  <div style="padding: 10px;background: #f2f7f9;">
                                      <div style="    margin-bottom: 8px;">
                                        <span style="margin-right: 83px;font-size: 15px;">1 Nuit(s)</span><span style="font-weight: bold;">12 000 000</span>
                                      </div>
                                      <div>
                                        <span style="margin-right: 121px;font-size: 15px;">Reduction</span><span style="font-weight: bold;">0.0F</span>
                                      </div>
                                  </div>
                                  <div style="margin-top: 15px;margin-left: 7px;margin-bottom: 15px;">
                                    <small style="margin-right: 46px">Total paiement1</small> <span style="font-weight: bold;">12 000 000 F</span>
                                  </div>
                                  <p class="card-text" style="color: #07528d; font-size:15px;font-weight: bold; margin-top: 18px;margin-bottom:9px;">Mode de paiement</p>
                                  <div class="row">
                                        <div class="col-md-6">
                                            <img src="{{ asset('images/Capture_visazz.PNG') }}" alt="visa carte" width="25px" height="22px">
                                            <input type="radio" class="demo5" id="demo5" name="demo5" value="demo5" checked id="demo-a">
                                        </div>
                                        <div class="col-md-6" style="color: #000; font-weight: bold;">
                                           
                                            Cash 
                                            <input type="radio" id="demo5" class="demo5" name="demo5" value="demo5" id="demo-b" >
                                        </div> 
                                  </div>
                                  </div>
                                  <div style="    margin-top: 0px;
                                  margin-bottom: 18px;
                                  text-align: center;
                                  background: #370274;
                                  margin-left: 15px;
                                  margin-right: 15px;
                                  border-radius: 5px;">
                                    <a href="#" class="btn" style="color:white; font-weight: bold;">Reserver</a>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
{% endblock %}