{% extends 'base.html.twig' %}


{% block ficheirCss3 %}{% endblock %}

{% block body %}
        {% include 'shared/_navbar.html.twig' %}

        <section class="banner">
                 <div class="container">
                    <div class="row blok-section">
                        <div class="smd1 bg-white rounded ">
                            <div class="card" style="width: 21rem;padding-top: 12px; ">
                                    <div class="card-body">
                                        <h5 class="card-title"><span style="font-size: 27px; font-weight: bolder; color:  #111010;">NovHôtel</span><span style="font-family: genera, sans-serif; font-weight: bolder; font-size: 24px;"> Royal Suites</span></h5>
                                        <p class="card-title" style="font-size: 10px; font-family: sans-serif; font-weight: bolder; color:  #111010;">Luxury Villa</p>
                                        <p class="card-title" style="font-size: 10px; font-family: sans-serif; font-weight: bolder;margin-top: -8px; color:  #111010;">Assinie, Ivory Coast</p>
                                        <span class="card-text" style="font-size: 14px; font-weight: bolder; color:  #111010;">A Partir De 12 000 000 / semaine  </span>
                                        <p class="card-text" style="margin-top: 7px;"><small style="color: rgb(36, 198, 95);font-family: sans-serif;">Disponible</small></p>
                                        <p class="card-text">
                                            <form>
                                                <div class="form-group">
                                                <span style="border: solid #f1f0f0;padding: 7px 72px 12px 29px;text-align: center;border-radius: 7px"><small style="margin-right: 7px;font-family: sans-serif;"><i class="fa fa-calendar-check" aria-hidden="true" style="margin-right: 6px; opacity: 0.5;"></i>Enregistrement</small><small style="font-family: sans-serif;"><i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 6px;opacity: 0.2;"></i>Vérification</small></span>
                                                <a href="{{ path('deatil_room') }}"" class="btn btn-md" style="margin-top: 37px; width:100%; height: 50%; background-color: #370274; color: white; font-weight: bolder; text-align: center;">Réserver maintenant </a>
                                                </div>
                                            </form>
                                        </p>
                                        <span class="ml-3" ><small class="mr-2" style="font-size: 13px; font-family: sans-serif; color:black;font-weight: bolder; ">Ou contactez-nous:</small><small style="font-size: 15px; font-family: sans-serif; color:#004d8a;font-weight: bolder; ">+225 07 00 00 00</small></span>
                                        <hr>
                                        <small style="text-align: justify; font-family: arial, sans-serif; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci exercitationem omnis animi temporibus nemo neque commodi nemo neque commodi commodi </small>
                                 </div>
                            </div>
                        </div>
                        <div class="smd2 bg-white rounded">
                            <div class="card" style="width: 21rem; padding-top: 12px; ">
                                <div class="card-body">
                                    <h5 class="card-title"><span style="font-size: 27px; font-weight: bolder; color:  #111010;">NovHôtel</span><span style="font-family: genera, sans-serif; font-weight: bolder; font-size: 24px;"> Royal Suites</span></h5>
                                    <p class="card-title" style="font-size: 10px; font-family: sans-serif; font-weight: bolder; color:  #111010;">Luxury Villa</p>
                                    <p class="card-title" style="font-size: 10px; font-family: sans-serif; font-weight: bolder;margin-top: -8px; color:  #111010;">Assinie, Ivory Coast</p>
                                    <span class="card-text" style="font-size: 14px; font-weight: bolder; color:  #111010;">A Partir De 12 000 000 / semaine  </span>
                                    <p class="card-text" style="margin-top: 7px;"><small style="color: rgb(13, 14, 13);font-family: sans-serif;">Reservation</small></p>
                                    <p class="card-text">
                                        <form>
                                            <div class="form-group">
                                            <span style="border: solid #f1f0f0;padding: 7px 72px 12px 29px;text-align: center;border-radius: 7px"><small style="margin-right: 7px;font-family: sans-serif;"><i class="fa fa-calendar-check" aria-hidden="true" style="margin-right: 6px; opacity: 0.5;"></i>Enregistrement</small><small style="font-family: sans-serif;"><i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 6px;opacity: 0.2;"></i>Vérification</small></span>
                                            <a href="#" class="btn btn-md" style="margin-top: 37px; width:100%; height: 50%; background-color: #370274; color: white; font-weight: bolder; text-align: center;">Demande d'information </a>
                                            </div>
                                        </form>
                                    </p>
                                    <span class="ml-3" ><small class="mr-2" style="font-size: 13px; font-family: sans-serif; color:black;font-weight: bolder; ">Ou contactez-nous:</small><small style="font-size: 15px; font-family: sans-serif; color:#004d8a;font-weight: bolder; ">+225 07 00 00 00</small></span>
                                    <hr>
                                    <small style="text-align: justify; font-family: arial, sans-serif; ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci exercitationem omnis animi temporibus nemo neque commodi nemo neque commodi commodi </small>
                             </div>
                        </div>
                        </div>
                    </div>
                </div>
        </section>

        <div class="container">
            <div><i class="far fa-heart icon-heart"></i></div>
            <div class="row">
                    <div class="card w-75 card-row">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 40px;font-family:Arial, sans-serif; color:  #111010;font-family: genera, sans-serif;font-weight:bold ;">NovHôtel Royal Suites</h5>
                            <p class="card-title" style="font-size: 12px; font-family: sans-serif;color:  #111010; font-weight: bolder;">Luxury Villa</p>
                            <p class="card-title" style="font-size: 12px; font-family: sans-serif;margin-top: -8px; color:  #111010; font-weight: bolder;">Assinie, Ivory Coast</p>
                            <div><span class="mr-5" style="font-size: 14px; font-family: genera, sans-serif; font-weight:bold ;"><i class="fa fa-user mr-2" aria-hidden="true"></i>12 personnes</span> <span class="mr-5" style="font-size: 14px; font-family: genera, sans-serif; font-weight:bold ;">
                            <i class="fa fa-bed mr-2"   aria-hidden="true"></i>6 chambres</span> <span class="mr-5" style="font-size: 14px; font-family: genera, sans-serif; font-weight:bold ;"><i class="fa fa-bath mr-2" aria-hidden="true"></i>6 salles de bain </span> <span style="font-size: 14px; font-family: genera, sans-serif; font-weight:bold ;">
                            <i class="fa fa-window-maximize mr-2" aria-hidden="true"></i>800 m2</span></div>
                            <p class="card-text" style="margin-top: 27px; font-size: 28px; font-weight: bold;">Description</p> 
                            <p class="card-text">Lorem libero mollitia quas quos, natus rem autem dolor eum blanditiis, laborum at fugit consequuntur veniam odio aspernatur! 
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni dolore itaque possimus a libero mollitia quas quos,
                            </p>
                            <a href="#" style="color: #0f5790; font-weight: bold;">Lire la suite</a>
                        </div>
                    </div>
            </div>
            <hr style="width: 51.8em; margin-left: -6em;">
            <div class="row">
                    <div class="card w-75 card-row1">
                        <div class="card-body">
                            <p class="card-text" style=" font-size: 28px; font-weight: bold;">Principales caractéristiques</p> 
                            <div class="mb-3">
                                <span class="mr-5 " style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Bar extérieur</span> 
                                <span style="margin-left: 101px;font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4" aria-hidden="true"></i>Four à pizza</span>
                             </div>
                            <div class="mb-3">
                                <span class="mr-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Climatisation centrale</span>
                                <span class="ml-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4" aria-hidden="true"></i>Chambre à vapeur</span>
                             </div>
                             <div >
                                <span class="mr-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Equipement de fitness</span>
                             </div>
                            
                        </div>
                    </div>
            </div>
            <hr style="width: 51.8em; margin-left: -6em;">
            <div class="row">
                    <div class="card w-75 card-row2">
                        <div class="card-body" style="padding: 29px;">
                            <p class="card-text" style=" font-size: 28px; font-weight: bold;">Services inclus</p> 
                            <div class="mb-3">
                                <span class="mr-5 " style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Marjobome</span> 
                                <span style="margin-left: 246px;font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4" aria-hidden="true"></i>Pétit-déjeuner préparé</span>
                             </div>
                            <div class="mb-3">
                                <span class="mr-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Accés à une salle de sport partagée</span>
                                <span style="font-size: 14px; font-family: sans-serif; margin-left: 92px;"><i class="fas fa-glass-cheers mr-4" aria-hidden="true"></i>Chef</span>
                             </div>
                             <div class="row d-flex" >
                                 <div class="col-md-6">
                                    <span class="mr-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Nettoyage: tous les jours</span>
                                 </div>
                                 <div class="col-md-6">
                                     <span style="font-size: 14px;
                                     font-family: sans-serif;
                                     text-align: justify;
                                     white-space: pre-line;
                                     display: flex;">
                                     <i class="fas fa-glass-cheers mr-4" style="margin-top: 6px;"  aria-hidden="true"></i>Un Tailleur dédié pour organiser vos vacances sur-mesure</span>
                                 </div>
                             </div>
                             <div class="row" >
                                 <div class="col-md-6">
                                    <span class="mr-5" style="font-size: 14px; font-family: sans-serif;white-space: pre-line;display: flex;""><i style="style="margin-top: 6px;" class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>Notre épuique local disponible pendant tout votre séjour </span>
                                 </div>
                                 <div class="col-md-">&nbsp;</div>
                             </div>
                            
                        </div>
                    </div>
            </div>
            <div class="w-75" style="margin-left: -6.0em;margin-top: 2em;margin-bottom: 4.8em;">
                <p style="font-family: verdana,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quod fugit quia porro exercitationem cupiditate ducimus voluptatum voluptas fugiat, voluptate, officiis eligendi dolorum soluta. Nemo corporis et eum necessitatibus sequi?</p>
            </div>
            <hr style="width: 51.8em; margin-left: -5.0em; margin-bottom: 4.8em;">
            <div class="row w-75 card-row2">
                <div>
                    <p style=" font-size: 28px; font-weight: bold; margin-left: -14px;margin-top:-0.5em;">Les pièces</p>
                </div>
                <div class="row">
                    <div class="card" style=" padding: 29px; width: 14rem; margin-right: 75px; height: 9rem;">
                        <div class="card-body">
                            <h5  style="font-size: 19px;" class="card-title">Le salon</h5>
                            <h6 style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Hifi stéréo</h6>
                            <h6 style="font-size: 15px;" class="card-subtitle mb-2 text-muted">1 télé</h6>
                            <h6 style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Chéminée</h6>
                        </div>
                    </div>
                    <div class="card" style=" width: 14rem; margin-right: 75px; height: 9rem;">
                        <div class="card-body">
                            <h5  style="font-size: 19px;" class="card-title">Salle à manger</h5>
                            <h6 style="font-size: 15px;" class="card-subtitle mb-2 text-muted">12 sièges</h6>
                        </div>
                    </div>
                    <div class="card" style=" width: 14rem; height: 9rem;">
                        <div class="card-body">
                            <h5 style="font-size: 19px;" class="card-title">Coin répas extérieur</h5>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">12 places</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:31px">
                    <div class="card" style="width: 14rem; margin-right: 75px; height: 15rem; margin-top: 33px;">
                        <div class="card-body">
                            <h5 style="font-size: 19px;" class="card-title">Cuisine</h5>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Cuisine séparée</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Lave-vaisselle</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Four micro onde</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Bouilloire</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Grille-pain</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Machine nespresso</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Machine à expresso</p>
                        </div>
                    </div>
                    <div class="card" style="width: 14rem; margin-right: 75px; height: 15rem; margin-top: 33px;">
                        <div class="card-body">
                            <h5 style="font-size: 19px;" class="card-title">Chambre 1</h5>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">1 lit double</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">1 télé</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">30 m<sup>2</sup></p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Dans ma maison</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">principale</p>
                        </div>
                    </div>
                    <div class="card" style="width: 14rem; height: 15rem; margin-top: 33px;">
                        <div class="card-body">
                            <h5 style="font-size: 19px;" class="card-title">Chambre 1 salle de bains</h5>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Lavabo-double</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Douche à l'italienne</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Toilette</p>
                            <p style="font-size: 15px;" class="card-subtitle mb-2 text-muted">Sèche-cheveux</p>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 2.8em;">
                    <a href="#" style="color: #0f5790; font-weight: bold; margin-left: -14px;margin-top: 2.5em;">Voir toutes les chambres</a><i class="fa fa-angle-down ml-2" aria-hidden="true" style="color: #0f5790;"></i>
                </div>
            </div>

            <hr style="width: 51.8em; margin-left: -6em; margin-bottom: 4.8em;">

            <div class="row w-75 card-row2">
                <div>
                    <p style=" font-size: 28px; font-weight: bold; margin-left: -14px;margin-top:-0.5em;">Localisation</p>
                    <div class="mt-2" style="margin-left: -14px;margin-top:-0.3em; margin-bottom: 20px;">
                        <span class="mr-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4"   aria-hidden="true"></i>A la plage d'Isini</span>
                        <span class="ml-5" style="font-size: 14px; font-family: sans-serif;"><i class="fas fa-glass-cheers mr-4" aria-hidden="true"></i>Vue sur la mer</span>
                    </div>
                </div>
                <div class="image-carte">
                    <div style="border-radius: 33px;padding:13px;background: #3e2983;">
                        <i class="fa fa-home" style="color: white; font-size: 21px;" aria-hidden="true"></i>
                    </div>
                </div>
                <div style="font-weight: bold; margin-left: -14px; margin-bottom: -105px;">
                    <img src="{{ asset('images/image.png') }}" class="w-100" height="65%" alt="home localisation">
                </div>
            </div>

            <hr style="width: 51.8em; margin-left: -6em;">

            <div class="row">
                    <div class="card w-75 card-row2" style="border: none;">
                        <p style=" font-size: 28px; font-weight: bold; margin-left: -3px;margin-top:-0.5em;">Expériences</p>
                        <div  style="margin-left: -2px;margin-top:0.7em; margin-bottom: 20px;">
                            <p style=" font-family:verdana, sans-serif;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic tempore fuga laudantium adipisci voluptatem possimus illum voluptate deserunt dolorem, neque voluptas corrupti, voluptatum suscipit optio minima minus quo iusto consequuntur?</p>
                        </div>
                        <div class="row" style="margin-left: 12px;margin-top:-0.5em;">
                            <div class="card" style=" width: 15.8em; margin-right: 31px; height: 27rem; border: none;">
                                    <img class="card-img-top" src="{{ asset('images/image5.png') }}" alt="Card image cap" style="width: 14.8em; height: 18.4em; border-radius: 12px;">
                                <div class="card-body">
                                    <p class="card-text" style="margin-left: -1.2em; font-family:verdana, sans-serif;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                 </div>
                            </div>
                            <div class="card" style=" width: 15.8em; margin-right: 25px; height: 27rem; border: none;">
                                <img class="card-img-top" src="{{ asset('images/image1.png') }}" alt="Card image cap"  style="width: 14.8em; height: 18.4em; border-radius: 12px;">
                                <div class="card-body">
                                    <p class="card-text" style="margin-left: -1.2em; font-family:verdana, sans-serif;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                             </div>
                            <div class="card"  style=" width: 15.8em; height: 27rem; border: none;">
                                <img class="card-img-top" src="{{ asset('images/image7.png') }}" alt="Card image cap"  style="width: 14.8em; height: 18.4em; border-radius: 12px;">
                                <div class="card-body">
                                    <p class="card-text" style="margin-left: -1.2em; font-family:verdana, sans-serif;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                 </div>
                            </div>
                        </div>
                        <div class="margin-bottom: 4.8em;">
                            <a href="#" style="color: #0f5790; font-weight: bold; margin-left: 14px;margin-top: 2.5em;">Tout afficher</a><i class="fa fa-angle-down ml-2" aria-hidden="true" style="color: #0f5790;"></i>
                        </div>
                    </div>
            </div>

            <hr style="width: 51.8em; margin-left: -6em; margin-bottom: 1.8em;margin-top: 4.2em;">
            
            <div class="row">
                <div class="card w-75 card-row2" style="border: none;">
                    <p style=" font-size: 28px; font-weight: bold; margin-left: 16px;margin-top:-0.5em;">Ils ont séjournés chez nous</p>
                    <div  style="margin-left: 16px;margin-top:0.7em; margin-bottom: 20px;">
                        <p style="font-size: 17px; font-family:monaco,verdana, sans-serif;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic tempore fuga laudantium adipisci voluptatem possimus illum voluptate deserunt dolorem, neque voluptas corrupti,</p>
                    </div>
                    <div class="row" style="margin-left: 12px;margin-top:-0.5em;">
                            <i style="padding: 13px 17px;
                            box-shadow: 0px 0px 20px rgb(201 197 197);
                            border-radius: 28px;
                            margin-left: 4.8em;
                            margin-top: 1.8em;
                            position: absolute;
                            font-size: 1.5em;" class="fa fa-chevron-left" aria-hidden="true"></i>
                            <div><i class="fa fa-quote-left" aria-hidden="true" style="position: absolute;color: #370274;margin-left: 6.8em;font-size: 27px;"></i></div>
                            <div style="margin-left: 13.8em;">
                                <p style="font-size: 20px; font-family:monaco,verdana, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rerum obcaecati voluptatem labore nisi delectus tempora, vitae, nobis atque qui est debitis sunt et dicta. Delectus ad blanditiis sapiente officiis...</p>
                            </div>
                            <div><i class="fa fa-quote-left" aria-hidden="true" style="color: #370274;position: absolute;margin-left: 17.5em;margin-top: -0.9em;font-size: 30px;"></i></div>
                            <i style="padding: 13px 17px;
                            box-shadow: 0px 0px 20px rgb(201 197 197);
                            border-radius: 28px;
                            margin-left: 34.8em;
                            margin-top: 1.8em;
                            font-size: 1.5em;
                            position: absolute;" class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    <div  style="margin-top: 1.2em;
                                margin-left: 34.8em;
                                white-space: nowrap;">
                        <p><span style="font-weight: bold;">Darius Boti</span> <span style="font-weight: bold; color: #370274">a séjourné pendant ses vacances.</span></p>
                    </div>
                </div>
                
            </div>
        </div>
        <section class="footer" style="background-color:#370274;height: 21.3em;padding-top:30px;margin-top: 114px;">
                <div class="container" style="margin-top: 72px;">
                    <div class="row">
                        <div class="col-md-6 image-footer">
                            <div>
                                <img  src="{{ asset('images/logo.png') }}" style="height: 130px;margin-left: -86px;margin-top:-24px;">
                                <div class="title-footer" style="color: white; font-weight: bolder; font-size: 35px;margin-left: -106px;margin-top: -19px;">
                                    NovHôtel
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">&nbump;</div>
                        <div class="col-md-5" style="margin-top: 15px; padding: 0px 0px -1px 0px;">
                            <form>
                                <div class="form-row ">
                                    <h2 class="text-white text-form" style="margin-top: -16px;  white-space:nowrap;">Souscrivez à notre Newsletter</h2>
                                    <div class="input-group" style="margin-top: 17px;">
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
                                        <div class="input-group-prepend">
                                        <div class="input-group-text bg-info"> <a href="#" style="color: white;" text-white> souscrire </a></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </section>
{% endblock %}