
.banner1{
    position: relative;
    background-image: url(../images/image4.png);
    max-height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}
.banner1 h1{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    color:white;
}

.section1{
    margin-top: -37px;
}
.banner1 P {

    color:white;
}
.smd{
    
    box-shadow: 0px 0px 20px rgb(201, 197, 197);
    height: 11.25em;
    margin: 0px 0px -32px 0px;
}

.card-bande{
    background-color:#f2f2f2;
    width:145px;
    outline: none;
    border: none;
    height: 58%;
}
.card-bande1{
    text-align: start;
    white-space:nowrap;
}
.card-double{
    background-color:#f2f2f2;
    width:158px;
    outline: none;
    border: none;
    height: 58%;
}

.card-title-group{
    margin-top: -22px;
}

.header{
    color: #004d8a;
    padding: 20px 20px 0px 14px;
    font-weight: bold;
}

.div-apopos{
    margin-top: 195px;
}

.card-image{
    width: 98%;
    height: 97%;
    border: 8px;
    outline: none;
    box-shadow: 0px 0px 20px rgb(201, 197, 197);
}



.card-body p {
    margin-top: 0;
    margin-bottom: 8px;
}

@media screen and (max-width: 1130px) { 
    .banner{
        position: relative;
        background: url(../images/Hotel.jpg);
        height: 20vh;
        background-size: cover;
        background-position: center;
        padding: 250px 0 200px;
    }
    .banner-h1{
        font-size: 30px;
         white-space:nowrap; 
         font-weight: bolder;
       }

       .banner-p{
         white-space:nowrap; 
         font-size: 15px; 
         font-weight: bolder;
       }

       .smd{
        box-shadow: 0px 0px 20px rgb(201, 197, 197);
        height: 11.25em;
        margin: 0px 0px -32px 0px;
        border-radius: 5px;
        height: 70%; 
        text-align: center;
    }

    .smd {
        box-shadow: 0px 0px 20px rgb(201, 197, 197);
        height: 11.25em;
        margin: 0px 0px -32px 0px;
        border-radius: 5px;
        height: 70%; 
        text-align: center;
    }

    .header{
        color: #004d8a;
        padding: 20px 20px 0px 14px;
        font-weight: bold;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
    }

    .non-suit{
        white-space: nowrap;
    }

    .text-primary{
        white-space: nowrap;
    }

    
 }

 @media screen and (max-width: 1232px) { 
    
    .banner-h1{
        font-size: 31px;
         white-space:nowrap; 
         font-weight: bolder;
       }

       .banner-p{
         white-space:nowrap; 
         font-size: 20px; 
         font-weight: bolder;
       }


       .image-footer img{
        height: 99px;
        margin-left: 26px;
        margin-top: 16px;
    }

       .title-footer{
        color: white;
        font-weight: bolder;
        font-size: 10px;
        margin-left: -36px;
        margin-top: -14px;
       }
       .non-suit{
        white-space: nowrap;
    }

    .text-primary{
        white-space: nowrap;
    }

    
 }

 @media screen and (max-width: 670px) { 
    

    .banner-h1{
        font-size: 18px;
         white-space:nowrap; 
         font-weight: bolder;
       }
       .text-form{
        color: white;
        font-weight: bolder;
        font-size: 5px;
        margin-left: -36px;
        margin-top: -14px;
       }

       .form-row .input-group {
            width: auto;
       }

       .non-suit{
        white-space: nowrap;
    }

    .text-primary{
        white-space: nowrap;
    }
 }

 @media screen and (max-width: 710px) { 
    
    .text-primary{
        white-space: nowrap;
    }

   .apropos-text{
       display: block;
   }

   .non-suit{
       white-space: nowrap;
   }
}

