.banner{
  position: relative;
  background: url(../images/image4.png);
  max-height: 50vh;
  padding: 250px 0 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -410px;
}
.description{
  text-align: justify;
}