.banner{
    position: relative;
    background: url(../images/imga6.png);
    max-height: 50vh;
    padding: 250px 0 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -410px;
}

.smd1 {
    position: absolute;
    z-index: 2;
    margin-left: -18.2em;
    margin-top: -12.2em;
}
.smd2 {
    z-index: 1;
    position: fixed;
    margin-left: -18.2em;
    margin-top: -12.2em;
}

.blok-section{
    display: block;
    float: right;
}

.card-row{
    margin-left: -6.2em;
    margin-top: 0.8em;
    border: none;
}

.card-row1{
    margin-left: -6.2em;
    margin-top: 0.2em;
    border: none;
}

.card-row2{
    margin-left: -5em;
    margin-top: 2.5em;
}

.image-carte{
    border-radius: 42px;
    padding: 12px;
    background: #4e80a6;
    position: absolute;
    margin-left: 21.8em;
    margin-top: 12.8em;
}

.icon-heart{
    box-shadow: 0px 0px 20px rgb(201 197 197);
    color: #0f5790;
    background: white;
    margin-top: -30px;
    z-index: 1;
    font-size: 31px;
    padding: 12px;
    border-radius: 35px;
    position: absolute;
    margin-left: -87px;
}

.footer{
    z-index: 3;
    position: relative;
}
