       <header>
                <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="ml-5 navbar-brand" href="#">
                            <img src="{{ asset('images/Captureaaa.png') }}" width="50" height="50" alt="">
                            <label class="p-0" for=""><small style="color: #5f4879; font-weight: 400; font-size: 20px; p-0">NovHôtel</small></label>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse "  id="navbarSupportedContent">
                            <ul class="navbar-nav ml-lg-auto mr-5">
                                <li class="nav-item active  ">
                                    <a class="nav-link ml-4" href="#" style="font-weight:bolder; font-size:14px;" >Besoin d'aide ? <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link ml-4" href="#"   style="font-weight: bold; font-size: 14px;">Nos chambres</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link ml-4" href="#"   style="font-weight: bold;  font-size: 14px;">FR | EN</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link ml-4" href="#"  style="font-weight: bold;  font-size: 14px;" >Se connecter</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link ml-3" href="#"  style="font-weight: bold; font-size: 14px;"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
       </header> 